:root {
  --main-color: #14e956;
  --main-light-color: #348b50ff;
}

/* Start Global Rules */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  height: 2000px;
  /* font-family: ExoSpace; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.main__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screens */
@media (max-width: 767px) {
  .main__container {
    width: 100%;
  }
  .home__intro__image {
    display: none;
  }
}
@media (min-width: 768px) {
  .main__container {
    width: 750px;
  }
  .home__intro__image {
    display: none;
  }
  .home__intro__header {
  font-size: 2.5rem;
}
}
/* Medium Screens */
@media (min-width: 992px) {
  .main__container {
    width: 970px;
  }
  .home__intro__image {
    display: block;
  }
  .home__intro__image img {
    width: 500px;
  }
  .home__intro__header{
  font-size: 3.5rem;
}
}
/* Large Screens */
@media (min-width: 1200px) {
  .main__container {
    width: 1170px;
  }
    .home__intro__image {
    display: block;
  }
  .home__intro__image img {
    width: 600px;
  }
  .home__intro__header {
  font-size: 4.2rem;
}
}

.hidden {
  display: none;
}
.show {
  display: flex;
}
.section {
  padding: 120px 0;
  opacity: 1;
  transform: translateY(0);
}
.section--hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-out;

}

/* End Global Rules */

/* start navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav__links {
  max-width: 700px;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  
  background-color: #777;
  color: black;

  border-radius: 50px;

  opacity: 0.8;
  transition: all 0.3s ease;

  box-shadow: rgba(255, 255, 255, 1) 0px 5px 30px -10px;
  z-index: 1000;
}
.nav__link {
  padding: 18px 24px;

  color: black;
  font-weight: bold;

  border-radius: 50px;
  opacity: 1;
  transition: all 0.3s ease;
}
.nav__link__cur {
  background-color: black;
  color: var(--main-color);
}
.nav__link i {
}
.nav__link:hover {
  background-color: white;
}

/* main section */
main {
  /* margin-top: 100px; */
}
.hero__section {
  /* background-image: url(/images/hero_black3.jpg); */
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.name__popup {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  text-align: center;
  over-flow: hidden;
}

.intro__name {
  margin: 0;
  font-size: 1em; /* start small */
  color: transparent;
  position: relative;
  opacity: 0;
  animation: nameIntro 2s ease-out forwards;
  over-flow: hidden;
}

@keyframes nameIntro {
  0% {
    transform: translateY(0);
    font-size: 1em;
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  60% {
    transform: translateY(40vh); /* move toward center */
    font-size: 6em; /* grow bigger */
    opacity: 1;
    color: var(--main-color);
  }
  99% {
    color: transparent;
    transform: translateY(40vh);
  }
  100% {
    display: none;
  }
}

/* Home Intro Section */
.home__intro {
  width: 100%;
  height: 100vh;
  color: white;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home__intro__content {
  flex: 1;
  opacity: 0;
  transform: translateX(-200px);
  animation: slide 1s ease-out forwards;
}

.welcome {
  /* background-color: #00800073; */
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  color: var(--main-color);
  font-weight: bold;
}
.home__intro__header {
  font-size: 
}
.career,
.frontend {
    color: #14e956;
    font-family: Cyborg;
    text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
}
.home__intro__image {
  flex: 1;
  opacity: 0;
  transform: translateX(200px);
  animation: slide 1s ease-out forwards;
  animation-delay: 0.3;
}
.home__intro__image img {
}

@keyframes slide {
  to {
      opacity: 1;
      transform: translateX(0);
    }
}

/* Skills Section */
.main__header h2 {
  width: fit-content;
  margin: 0 auto 100px;
  padding: 10px 40px;
  border-radius: 21px;
  box-shadow: var(--main-color) 0px 0px 8px 1px inset;
  color: var(--main-color);
  font-size: 2.5rem;
}
.rotate__header {
  transform: perspective(400px) rotateY(90deg);
  animation: rot3d 1s ease forwards;  
}
@keyframes rot3d {
  to {
    transform: perspective(400px) rotateY(0deg);
  }
}

/* Skill Box */
.skills__container {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.skill-box {
  position: relative;
  width: 270px;
  height: 180px;
  perspective: 1000px;
  cursor: pointer;
}

.skill-front,
.skill-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  transition: transform 0.6s;
  box-shadow: 0 0 10px 1px var(--main-color);
}

.skill-front {
  background: #1e293b; 
  color: var(--main-color);
  font-size: 1.5rem;
}

.skill-back {
  background: #f1f5f9; 
  color: var(--main-color);
  transform: rotateY(180deg);
  font-weight: normal;
  font-size: 1.2rem;
}

.skill-box:hover .skill-front {
  transform: rotateY(180deg);
}

.skill-box:hover .skill-back {
  transform: rotateY(360deg);
}

/* Projects Section */
.project__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
/* project box content */
.project__box__content {
  position: relative;
  flex: 1; 
  min-width: 250px;
  max-width: 450px;
}
.project__box__content .project__header {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(0, 204, 255, 1);
}
.project__description {
  line-height: 1.7;
  font-size: 1rem;
}
.tools__head {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 204, 255, 1);
}
.project__tools {
  display: flex;
  gap: 0.5rem;
}
.project__tools .tool {
  background: rgba(255, 255, 255, 0.08);
  color: #ccc;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}
/* Details Button */
.glassy-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.7rem 1.5rem;
  border-radius: 12px;
  background: rgba(0, 229, 255, 0.1);
  border: 1px solid rgba(0, 229, 255, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #00e5ff;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.5px;
  box-shadow: 0 0 12px rgba(0, 229, 255, 0.4);
  transition: all 0.3s ease;
}

.glassy-btn:hover {
  background: rgba(0, 229, 255, 0.25);
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.8),
              0 0 40px rgba(0, 229, 255, 0.4);
}

.project__box__image {
  width: fit-content;
}
.project__box__image img {
  max-width: 500px;
  border-radius: 15px;
  transform: perspective(1000px) rotate3d(1, 1, 0, 45deg);
  animation: rotate_project_image 1s linear forwards;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .project__box__image img {
    width: 100%;
  }
}
img.p--1 {
  box-shadow: 0 0 25px 5px rgba(230, 250, 255, 0.56);
}
img.p--2 {
  box-shadow: 0 0 25px 5px rgba(20, 190, 233, 0.6);
}
img.p--3 {
  box-shadow: 0 0 25px 5px rgba(199, 103, 255, 0.69);
}
.project__box__image img:hover {
  animation: rotate_project_image_hover 0.7s linear forwards;

  transform: scale(1.5);
}

/* keyframes */
@keyframes rotate_project_image {
  from {
    transform: perspective(1000px) rotate3d(1, 1, 0, 10deg);
  }

  to {
    transform: perspective(1000px) rotate3d(1, 1, 0, 35deg);
  }
}

@keyframes rotate_project_image_hover {
  0% {
    transform: perspective(1000px) rotate3d(1, 1, 0, 35deg);
  }

  100% {
    transform: perspective(1000px) rotate3d(1, 1, 0, 0deg);
  }

}


